body {
    width:100%;
    margin:0;
    background-color: #ffffe6;
}

#register {
    width:50%;
    height:500px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    background-color:  #efefef;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    font-size: 20px;
    margin-top: 50px;
    display: list-item;
}

#submit-button{
  background-color: #8080ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
}

.container {
    margin-top: 50px;
    padding: 25px;
    clear: both;
}

/*.container input {*/
/*  width: 40%;*/
/*  clear: both;*/
/*}*/

input[type=email], input[type=password], input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select {
    margin: 70px;
    width: 30%;
    float: left;
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.search input[type=text] {
  padding: 10px 10px 10px 0px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;  
  width: 25%;
  background: #f1f1f1;;
  margin: 70px 300px auto auto;
}

.search button {
  float: right;
  width: 10%;
  padding: 10px 10px 10px 0px;
  background: #8080ff;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  margin: -42px 150px auto auto;
}

.search button:hover {
  background: #0b7dda;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}

/*#images {*/
/*    width: 30%;*/
/*    margin: 50px;*/
/*    position: absolute;*/
/*    alignment-baseline: central;*/
/*}*/

* {
  box-sizing: border-box;
}

.row{
  width: 70%;
  margin: 0 auto;
}

.column {
  float: left;
  width: 100%;
  height: 60%;
  padding: 5px;
}
.row .column{
    height: 50%;
    width:25%;
}
.row .column img{
    border-radius: 50%;
    height:300px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}